<div class="activity-card">

    <div class="activity-header">

        <div>
            <span class="section-label">YOUR JOURNEY</span>
            <h3>Recent Activity</h3>
        </div>

        <button class="view-all">
            View All
        </button>

    </div>


    <div class="activity-list">

        @for (activity of activities; track activity.title) {

            <div class="activity-item">

                <div class="activity-icon">
                    <mat-icon>{{ activity.icon }}</mat-icon>
                </div>

                <div class="activity-content">

                    <h4>{{ activity.title }}</h4>

                    <p>{{ activity.description }}</p>

                </div>

                <span class="activity-time">
                    {{ activity.time }}
                </span>

            </div>

        }

    </div>

</div>