<div class="sidebar">

    <!-- =========================
         BRAND
    ========================== -->

    <div class="logo">

    <img
        src="/closetly-logo.jpg"
        alt="Closetly Logo"
        class="logo-image"
    >

    <p>
        Digital Wardrobe
    </p>

</div>


    <!-- =========================
         NAVIGATION
    ========================== -->

    <nav>

        <a class="active">

            <mat-icon>
                dashboard
            </mat-icon>

            <span>
                Dashboard
            </span>

        </a>


        <a>

            <mat-icon>
                checkroom
            </mat-icon>

            <span>
                Wardrobe
            </span>

        </a>


        <a>

            <mat-icon>
                style
            </mat-icon>

            <span>
                Outfit Creator
            </span>

        </a>


        <a>

            <mat-icon>
                favorite
            </mat-icon>

            <span>
                Wishlist
            </span>

        </a>


        <a>

            <mat-icon>
                person
            </mat-icon>

            <span>
                Profile
            </span>

        </a>


        <a>

            <mat-icon>
                settings
            </mat-icon>

            <span>
                Settings
            </span>

        </a>

    </nav>


    <!-- =========================
         LOGOUT
    ========================== -->

    <div class="logout">

        <mat-icon>
            logout
        </mat-icon>

        <span>
            Logout
        </span>

    </div>

</div>