<div class="notification-panel">

    <div class="notification-header">

        <div>

            <span class="section-label">
                UPDATES
            </span>

            <h3>
                Notifications
            </h3>

        </div>

        @if (unreadCount > 0) {

            <button
                class="mark-all"
                (click)="markAllAsRead()">

                Mark all as read

            </button>

        }

    </div>


    @if (notifications.length > 0) {

        <div class="notification-list">

            @for (
                notification of notifications;
                track $index
            ) {

                <div
                    class="notification-item"
                    [class.unread]="!notification.isRead"
                    (click)="markAsRead(notification)"
                >

                    <div class="notification-icon">

                        <mat-icon>
                            {{ getIcon(notification.type) }}
                        </mat-icon>

                    </div>


                    <div class="notification-content">

                        <div class="notification-title-row">

                            <h4>
                                {{ notification.type | titlecase }}
                            </h4>

                            @if (!notification.isRead) {

                                <span class="unread-dot"></span>

                            }

                        </div>


                        <p>
                            {{ notification.message }}
                        </p>


                        @if (notification.createdAt) {

                            <span class="notification-time">
                                {{ notification.createdAt | date:'medium' }}
                            </span>

                        } @else {

                            <span class="notification-time">
                                Just now
                            </span>

                        }

                    </div>

                </div>

            }

        </div>

    } @else {

        <div class="empty-notifications">

            <mat-icon>
                notifications_none
            </mat-icon>

            <h4>
                All caught up
            </h4>

            <p>
                You don't have any new notifications.
            </p>

        </div>

    }

</div>